@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #00b272;
  --font-family: "Poppins", sans-serif;
  --text-light-shade: #8e8e8e;
  --text-dark-shade: #424242;
  --background-shade: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family) !important;
}
.my-navbar {
  width: 100%;
  height: 65px;
  background-color: #fff;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 6px rgba(213, 213, 213, 0.25);
  z-index: 9;
}
.nav-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-icon {
  cursor: pointer;
  width: 34px;
  height: 27px;
}
.logo {
  width: 200px;
  height: 60px;
  margin-left: 2rem;
}
.button {
  width: fit-content;
  padding: 8px 16px;
  background: #00b372;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  background: #05c57f;
  transition-duration: 0.5s;
}
.close {
  width: 36px;
  height: 36px;
  position: absolute;
  visibility: hidden;
}
@media only screen and (max-width: 600px) {
  .my-navbar {
    height: 50px;
  }
  .logo {
    width: 160px;
    height: 47px;
  }
  .button {
    padding: 4px 8px;
    font-size: 0.7;
    border-radius: 15px;
  }
  .menu-icon {
    width: 27px;
    height: 20px;
  }
  .close {
    width: 30px;
    height: 30px;
  }
}
.menu {
  height: 100vh;
  width: 35%;
  background-color: #fff;
  position: absolute;
  top: 65px;
  box-shadow: 5px 0 6px -2px rgba(213, 213, 213, 0.25);
  justify-content: center;
  display: none;
}
.menu ul {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 1rem;
  transition-duration: 1s;
}
.menu ul a {
  text-decoration: none;
}
.menu ul a li {
  list-style: none;
  margin: .7rem;
  color: var(--text-dark-shade);
}
.menu ul a li:hover {
  font-size: 1.7rem;
  font-weight: bold;
  transition-duration: 0.3s;
  color: var(--primary-color);
}
@media only screen and (max-width: 700px) {
  .menu {
    top: 48px;
    width: 60%;
  }
}
#home {
  width: 100%;
  height: calc(100vh - 65px);
  background-color: #fff;
  display: flex;
}
.home-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text {
  font-size: 71px;
  font-weight: normal;
  line-height: 73px;
  letter-spacing: 0.02em;
  color: #afafaf;
}
.hero-text-span {
  color: var(--primary-color);
  font-weight: bold;
}
.hero-description {
  color: var(--text-light-shade);
  font-size: 16px;
  max-width: 520px;
  font-weight: lighter;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 10px;
}
.know-btn {
  margin-top: 1rem;
  font-size: 20px;
  border-radius: 24px;
  padding: 4px 20px;
}
.social-proof {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  color: var(--text-dark-shade);
}
.social-proof h6 {
  margin: 0 0 10px 0;
  display: flex;
}
.social-proof .iconify {
  margin-right: 10px;
}
.sp-span {
  font-weight: bold;
  margin-right: 5px;
}
.home-image-area {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-images1,
.home-images2,
.home-images3 {
  width: 10rem;
  height: 30rem;
  background-color: black;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.25));
}
.home-images1 {
  background-image: url("../images/alziyara-home-image-1.webp");
}
.home-images2 {
  top: 3rem;
  background-image: url("../images/alziyara-home-image-2.webp");
}
.home-images3 {
  bottom: 3rem;
  background-image: url("../images/alziyara-home-image-3.webp");
}
.home-images1:hover,
.home-images2:hover,
.home-images3:hover {
  right: 0.3rem;
  transition-duration: 0.5s;
}
.home-images1:hover {
  bottom: 0.3rem;
}
.home-images2:hover {
  top: 3.3rem;
}
.home-images3:hover {
  bottom: 3.3rem;
}
@media only screen and (max-width: 992px) {
  .container {
    min-width: 768px;
  }
  .hero-text {
    font-size: 60px;
    line-height: 62px;
    letter-spacing: 0;
  }
  .hero-description {
    font-size: 14px;
    max-width: 406px;
    line-height: 19px;
    padding-top: 7px;
  }
  .know-btn {
    margin-top: 0.7rem;
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    min-width: 680px;
  }
  .hero-text {
    font-size: 52px;
    line-height: 50px;
  }
  .hero-description {
    font-size: 13px;
    max-width: 341px;
    line-height: 18px;
    padding-top: 5px;
  }
  .know-btn {
    margin-top: 0.5rem;
    font-size: 16px;
  }
  .sp-text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 680px) {
  .container {
    min-width: 596px;
  }
  .home-images3 {
    display: none;
  }
  .hero-text {
    font-size: 46px;
    line-height: 44px;
  }
  .hero-description {
    font-size: 12px;
    max-width: 298px;
    line-height: 16px;
    padding-top: 7px;
  }
  .know-btn {
    margin-top: 0.5rem;
    font-size: 16px;
  }
  .sp-text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 596px) {
  .container {
    min-width: 412px;
  }
  #home {
    height: fit-content;
  }
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .home-images3 {
    display: initial;
  }
  .home-text-area {
    width: 100%;
  }
  .home-image-area {
    width: 100%;
  }
  .hero-text {
    font-size: 61px;
    line-height: 58px;
    max-width: 389px;
  }
  .hero-description {
    font-size: 14px;
    max-width: 298px;
    line-height: 19px;
    padding-top: 6px;
  }
  .know-btn {
    margin-top: 0.5rem;
    font-size: 18px;
  }
  .home-images1,
  .home-images2,
  .home-images3 {
    height: 25rem;
    margin: 5px;
  }
}
@media only screen and (max-width: 412px) {
  .container {
    min-width: 100px;
  }
  .hero-text {
    font-size: 51px;
    line-height: 58px;
    max-width: 100%;
  }
  .home-images3 {
    bottom: 1rem;
  }
}
@media only screen and (max-width: 346px) {
  .quote-btn {
    display: none;
  }
  .hero-description {
    font-size: 13px;
  }
}
@media only screen and (max-width: 290px) {
  .hero-text {
    font-size: 41px;
    line-height: 48px;
  }
  .home-images1,
  .home-images2,
  .home-images3 {
    margin: 2px;
  }
  .hero-description {
    font-size: 13px;
  }
}
#packages {
  width: 100%;
  height: fit-content;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.packages-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
.package-card {
  width: 23%;
  height: 25rem;
  margin: 0.3rem;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.25));
}
.russia {
  background-image: url("../images/russia-alziyara-package.webp");
}
.armenia {
  background-image: url("../images/armenia-alziyara-package.webp");
}
.ethiopia {
  background-image: url("../images/ethiopia-alziyara-package.webp");
}
.uzbekistan {
  background-image: url("../images/uzbekistan-alziyara-package.webp");
}
.shade-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.pack-btn {
  display: flex;
  justify-content: center;
}
.pack-btn a {
  font-size: 16px;
}
.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.btn-area a {
  font-size: 13px;
}
.p-card-text-wrapper {
  max-width: 100%;
  color: white;
  padding: 1rem;
}
.cta-area {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}
.cta-area a {
  color: var(--text-dark-shade);
}
.whatsapp,
.call {
  background: rgba(255, 255, 255, 0.7);
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.whatsapp {
  margin-right: 0.2rem;
}
.call {
  margin-left: 0.2rem;
}
.call:hover,
.whatsapp:hover {
  background: #fff;
  text-decoration: none;
  color: #000;
}
.p-card-text-wrapper p {
  font-size: 14px;
}
@media only screen and (max-width: 992px) {
  .package-card {
    width: 48%;
  }
}
@media only screen and (max-width: 575px) {
  .package-card {
    width: 98%;
  }
}
#about {
  width: 100%;
  height: fit-content;
  background-color: var(--background-shade);
}
.section-heading {
  color: var(--text-dark-shade);
  font-size: 35px;
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.section-heading-span {
  color: var(--primary-color);
}
.about-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding-bottom: 3rem;
}
.about-video-area,
.about-text-area {
  flex: 1;
}
.about-video-area {
  width: 39rem;
  height: 20rem;
  background-color: #fff;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.17));
}
.about-video-area iframe {
  border-radius: 10px;
}
.about-text-area h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 100;
  padding-left: 1rem;
  color: var(--text-dark-shade);
}
@media only screen and (max-width: 992px) {
  .about-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 681px) {
  .about-video-area,
  .about-text-area {
    width: 100%;
  }
  .about-text-area h4 {
    font-size: 16px;
  }
  @media only screen and (max-width: 400px) {
    .about-text-area h4 {
      font-size: 13px;
    }
  }
}
#founder {
  width: 100%;
  height: fit-content;
}
.founder-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.founder-text-area,
.founder-img-area {
  flex: 1;
  margin: 1rem;
}
.founder-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.founder-text {
  font-size: 17px;
  font-weight: 100;
  line-height: 32px;
  color: var(--text-dark-shade);
}
.founder-name {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-right: 1.5rem;
  color: var(--primary-color);
}
.founder-img-area {
  width: 30rem;
  height: 20rem;
  background-color: wheat;
  background-image: url("../images/alziyara-founder-JahfarAvulan.webp");
  background-size: cover;
  background-position: center;
  border-radius: 17px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
}
.founder-text .iconify {
  color: var(--primary-color);
}
@media only screen and (max-width: 992px) {
  .founder-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .founder-text-area,
  .founder-img-area {
    flex: none;
  }
  .founder-img-area {
    order: 1;
    width: 100%;
  }
  .founder-text-area {
    order: 2;
  }
}
#services {
  width: 100%;
  height: fit-content;
  margin-top: 3rem;
  background-color: var(--background-shade);
}
.service-wrapper {
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.service-card {
  height: 16rem;
  min-height: fit-content;
  background-color: #fff;
  box-shadow: 10px 8px 14px rgba(0, 0, 0, 0.03);
  border-radius: 27px;
  margin: 0.5rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  color: var(--text-dark-shade);
  justify-content: center;
}
.service-card hr {
  margin: 0;
}
.service-card .iconify {
  margin-bottom: 1rem;
}
.service-name {
  text-transform: uppercase;
  padding-top: 5px;
  font-size: 20px;
}
.service-desc {
  color: var(--text-light-shade);
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  text-transform: capitalize;
}
.service-card:hover {
  color: var(--primary-color);
}
.test-heading {
  margin-bottom: 2rem;
  color: #fff;
}
.demo {
  background-image: url("../images/alziyara-testimonial-background.webp");
  background-size: cover;
  background-position: center;
}
.testimonial {
  margin: 0 20px 40px;
}
.testimonial .testimonial-content {
  padding: 35px 25px 35px 50px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  position: relative;
}
.testimonial .testimonial-content:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.45);
  position: absolute;
  bottom: -20px;
  left: 22px;
}
.testimonial-content .testimonial-icon {
  width: 50px;
  height: 45px;
  background: var(--primary-color);
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 42px;
  position: absolute;
  top: 37px;
  left: -19px;
}
.testimonial-content .testimonial-icon:before {
  content: "";
  border-bottom: 16px solid var(--primary-color);
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}
.testimonial .description {
  font-size: 15px;
  font-style: italic;
  color: #fff;
  line-height: 23px;
  margin: 0;
}
.testimonial .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.testimonial .post {
  display: block;
  font-size: 14px;
  color: #fff;
}
.owl-theme .owl-controls {
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span {
  background: #ccc;
  opacity: 1;
  transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: var(--primary-color);
}
#contact {
  width: 100%;
  height: fit-content;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.contact-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-area,
.map-area {
  flex: 1;
  height: 500px;
  margin: 1rem;
}
.form-area {
  padding: 2rem;
}
.map-area {
  background-color: var(--background-shade);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.form-area form label {
  color: var(--text-dark-shade);
}
.form-area form input,
.form-area textarea {
  border: none;
  background-color: var(--background-shade);
}
.button-area {
  display: flex;
  justify-content: center;
}
.button-area button :focus {
  display: none;
}
.msg-btn {
  font-size: 16px;
}
@media only screen and (max-width: 992px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .form-area,
  .map-area {
    flex: none;
    width: 100%;
  }
}
#social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-icon-wrapper {
  width: 70%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sm-icons:hover {
  transition-duration: 0.3s;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
footer {
  width: 100%;
  height: 6rem;
  position: relative;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: absolute;
}
.footer p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.footer .advo {
  margin: 0;
  font-size: 14px;
  color: rgb(207, 207, 207);
}
.footer .advo a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
